.project1__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.project1__img{
    width: 150px;
    border-radius: 1.5rem;
    justify-self: center;
}


.project1__description{
    text-align: justify;
    padding: 0 1rem 0 0;
    margin-bottom: var(--mb-2-5);
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .project1__container{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .project1__img{
        width: 220px;
    }
    .project1__data{
        text-align: center;
    }
   
    .project1__description{
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
 
  }
  

  @media screen and (max-width: 576px) {
   
    .project1__description{
        padding: 0;
    }
  }
  
  @media screen and (max-width: 350px) {

  
  
  }
  