.skills__container{
    grid-template-columns: repeat(3, 350px);
    column-gap: 2rem;
    justify-content: center;
}

.skills__content{
    background-color: var(--container-color) ;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills__title{
    font-size: var(--normal-font-siz);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}
.skill__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
  
}

.skills__group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}
.skills__data{
    display: flex;
    column-gap: 0.5rem;
}
.skills .bxs-award,
.bx-shape-circle,
.bxl-graphql,
.bx-code,
.bx-library,.bxl-android,.bxl-tux,.bxl-windows,.bxl-apple,.bxs-data,.bx-math,.bx-desktop{
    font-size: 1rem;
    color: var(--title-color);
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level{
    font-size: var(--tiny-font-size);
}


@media screen and (max-width: 992px) {

    .skills__container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
  
  }
  
  @media screen and (max-width: 576px) {
    .skills__container{
        grid-template-columns: 1fr;
    }
    .skills__content{
        padding: 1.5rem;
    }

  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .skill__box{
        column-gap: 1.25rem;
    }
    .skills__name{
        font-size: var(--small-font-size);
    }
   
  }
  
  .sub__1{
    margin-top: 2.5rem;
  }


  .s__info{
    grid-template-columns: repeat(3, 250px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}
.s__box{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

  .s__icon{
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}
.s__title{
    font-size: var(--normal-font-siz);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}
